body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* header */

.header-container {
    border-bottom: 3px solid gold;
}

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
    max-width: 1600px;
    margin: auto;
}

.header-brand {
    display: flex;
    gap: 2rem;
}

.logo {
    max-width: 25px;
}

.academy-title {
    margin: 0;
}

.header-nav {
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;
    gap: 1rem;
    background: seashell;
    border-radius: 1rem;
    border: 1px solid gold;
    padding: 1rem;
}

.fa-facebook {
    color: blue;
}

.fa-instagram {
    color: purple;
}

.fa-whatsapp {
    color: green;
}

.header-contact {
    margin: 0;
}

/* main */

.main-container {
    background: linear-gradient(135deg, white, gold);
    border-bottom: 3px solid gold;
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    margin: auto;
}

.intro {
    display: flex;
    gap: 3rem;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.intro-content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.p-intro-content {
    margin: 0;
    padding: 0;
    font-size: 24px;
    color: rgb(58, 68, 78);
}

.p2-intro-content {
    border-top: 1px solid gold;
    margin: 0;
    padding-top: 1rem;
    font-size: 20px;
    color: rgb(58, 68, 78);
    text-align: center
}

.intro-media {
    display: flex;
    flex: 1;
}

iframe {
    border: 2px solid black;
    border-radius: 2rem;
    width: 100%;
}

/* services */

.services {
    background: white;
}

.services-content {
    display: flex;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.separator {
    display: flex;
    justify-content: center;
    
}

.p-separator {
    font-weight: bold;
    font-size: 20px;
    color: rgb(40, 47, 54);
    box-shadow: 15px 15px 1px rgb(255, 179, 0);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid gold;
    transform: rotate(-2deg);
    margin-top: 1rem;
    background-color: seashell;
}

.services-offered {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 1000px;
}

.services-offered > div {
    border: 3px solid black;
    border-radius: 1rem;
    background-color: seashell;
}

.services-offered > div > img {
    width: 100%;
    border-radius: 1rem;
}

.services-offered > div > p {
    text-align: center;
}

/*cellphone*/

@media (max-width: 820px) {
    nav {
        display: flex;
        flex-direction: column;
    }
    header {
        padding: 0px 0px 0px 1rem;
    }
    .intro {
        padding: 0;
    }
}